{{!< layout}} 
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Project Name : {{ProjectName}}</h1><a href="/hello-world?jwt={{token}}">Go home</a>
    </div>
  </div>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
  <!-- Add 2 buttons -->



</header>

  <body>
    <div class="aui-page-panel main-panel">
      <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
          <div class="aui-group">
            {{!-- <div class="aui-item">
              <button type="button" class="btn btn-outline-success" onclick="executeFullLoad()">Start background load</button>
            </div> --}}
            
            <div class="aui-item">
              <!-- Create a div where the graph will take place -->
              {{!--
              <a href="/execute-full-load?jwt={{token}}">execute load</a> --}} 
              
              {{!-- <div id="my_dataviz"></div> --}}
              <canvas id="doughnut-chart" width="800" height="450"></canvas>

            </div>
            
          </div>
        </section>
      </div>
    </div>

    <script>
      // A function that create / update the plot for a given variable:
      
      //var decodedJson = decodeURIComponent("{{{projectData}}}");
      //var projectData = JSON.parse(decodedJson);
      //var projects = Object.keys(projectData)

      var projectName = "{{ProjectName}}"
      
      // set the dimensions and margins of the graph
      


      // A function that create / update the plot for a given variable:
      function getWordCountData(project) {
          

          $.get("/project-word-counts?jwt={{token}}&key=" + project, function (projectWordCount) {
            //const projectWordCount = JSON.parse(result);
            // Update the X axis
            let data = projectWordCount[project]; 
            console.log(Object.keys(data.keywords));
            console.log(Object.values(data.keywords));

            new Chart(document.getElementById("doughnut-chart"), {
                    type: 'doughnut',
                    data: {
                      labels: Object.keys(data.keywords),
                      datasets: [
                        {
                          label: "Word count",
                          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                          data: Object.values(data.keywords)
                        }
                      ]
                    },
                    options: {
                      title: {
                        display: true,
                        text: 'Most relevant words in the project'
                      }
                    }
                });
          });

        }

      // Initialize the plot with the first dataset
      getWordCountData(projectName);

    </script>

  </body>